* {
  box-sizing: border-box;
}

.Logins {
  font-family: "Sawarabi Mincho";
  height: calc(100vh - 50px);
  background-color: bisque;
  &__login {
    display: flex;
    justify-content: space-around;
    text-align: center;
    &__teacher {
      @include btn(midnightblue);
    }
    &__student {
      @include btn;
    }
  }
  &__test {
    display: flex;
    justify-content: space-around;
    text-align: center;
    &__teacher {
      @include btn(midnightblue);
    }
    &__student {
      @include btn;
    }
  }

}
